<a name="main" title="<%= t('internal_links.main') %>"></a>
<div class="page-container">
  <div id="sidebar" class="resources-sidebar col-xs-12 col-sm-4" <% unless @has_children %>style="display: none"<% end %>>
    <%= render partial: 'resources/sidebar', locals: {:result => @result, :props => {:full => true}} %>
  </div>
  <div class="everything-wrapper">
    <div id="main-content" class="row">
      
      <div class="row breadcrumbs-row">
        <%= render partial: 'shared/breadcrumbs' %>
      </div>

      <% currentUrl = request.original_url %>
      <% urlArray = currentUrl.split("/") %>
      <% if urlArray[5]=='resources' %>
        <div id="alert-row" class="col-12">
            <% if urlArray[4]=='2' %>
                <div id="spec_request">
                    <p>To request boxes, please submit the collection, series, and box number(s) via the Special Collection Research Center's <a target="_blank" href="https://library.gwu.edu/scrc/contact">Contact form</a>.</p>
                </div>
            <% elsif urlArray[4]=='3' %>
                <div id="spec_request">
                    <p>To request boxes, please contact the <a target="_blank" href="https://library.gwu.edu/grc">Global Resources Center</a>.</p>
                </div>
            <% end %>
        </div>
      <% end %>

      <%= render partial: 'shared/record_innards' %>
    </div>
  </div>
</div>

<%= render partial: 'shared/modal_actions' %>
