<div id="main-content">
  <div class="page-container">
      <div id="sidebar" class="col-sm-4 sidebar sidebar-container">
        <div class="sidebar-information" id="info_row">
            <div class="record-sidebar-title">
            <%= render partial: 'shared/idbadge', locals: {:result => @result, :props => { :full => true} } %>
            </div>
            <div class="page_actions">
            <%= render partial: 'shared/page_actions', locals: {:record => @result, :title => @result.display_string, :url => request.fullpath } %>
            </div>
        </div>
        <%= render partial: 'subjects/sidebar' %>
    </div>
  <div class="row align-items-start">
    <div class="information everything-wrapper">
      <div class="subject-source clear">
        <span class="inline-label clear"><%= t('enumeration_names.subject_source') %>: </span><%= t("enumerations.subject_source.#{@result['json']['source']}" ) %>
      </div>
      <% if @result['json']['scope_note'].present? %>
        <span class="inline-label"><%= t('scope_note') %>:</span> <%= process_mixed_content( @result['json']['scope_note']).html_safe %>
      <% end %>
      <%# FOUND IN SECTION %>
      <%= render partial: 'shared/results', locals: {:results => @results, :pager => @pager} %>
    </div>
  </div>
  </div>
</div>
